.counts {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
}
.counts-count {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}
.counts-title {
    margin: 0;
    color: gray;
    text-transform: uppercase;
    line-height: 1;
    font-size: 13px;
}
.counts-number {
    margin: 0;
    font-size: 75px;
    font-weight: 800;
}

.table {
    width:100%
}
.lbrow {
    border-bottom:1px solid #ddd5;
    margin:0;
    display:block;
    width:100%;
    font-size:19px;
    padding:10px 7px;
    cursor:pointer
}
.lbrow:last-of-type {
    border-bottom:none
}
.headings {
    padding-block:12px;
    border:none;
    height:17px
}
.headings h4 {
    margin:0 10px;
    float:right;
    width:85px;
    text-transform:uppercase;
    text-align:center;
    font-family:whitney;
    font-weight:100;
    font-size:13px;
    color:#aaaa;
    cursor:pointer;
    transition:.4s
}
.headings h4:nth-last-of-type(1), .headings h4:nth-last-of-type(2) {
    width:45px
}
.headings h4.sortedby {
    font-weight:800;
    color:#fff
   }
   .lbrow h5 {
    border-radius:25px;
    background:var(--primary);
    padding:7px 0;
    margin:0;
    display:inline-block;
    width:28px;
    height:28px;
    text-align:center
}
.lbrow:nth-of-type(1) h5 {
    background:#edba12
}
.lbrow:nth-of-type(2) h5 {
    background:gray
}
.lbrow:nth-of-type(3) h5 {
    background:#e5971a
}
.lbrow img {
    border-radius:40px;
    margin:0 5px 0 10px;
    height:40px;
    width:40px;
    vertical-align:middle
}
.lbrow h6 {
    margin:0;
    display:inline-block;
    font-size:18px
}
.lbrow .score {
    float:right;
    margin:0 10px;
    width:85px;
    text-align:center;
    line-height:40px
}
.lbrow .score:nth-last-of-type(1), .lbrow .score:nth-last-of-type(2) {
    width:45px
}
.keycounts {
    margin-left:92px;
    display:grid;
    grid-template-columns:50% 50%;
    height:0;
    width:50%;
    overflow:hidden;
    transition:.3s
}
.keycounts>div:first-child {
    margin-right:10px
}
.keycounts>div:nth-of-type(2) {
    border-left:1px solid #ddd5;
    margin-left:10px;
    padding-left:20px
}
.keycounts h4 {
    margin:0;
    display:inline-block;
    width:fit-content;
    font-size:16px;
    font-family:whitney;
    text-transform:uppercase;
    color:#aaaa;
    cursor:pointer;
    transition:.4s
}
.keycounts h4.snipes {
    margin-bottom:5px
}
.keycounts span {
    float:right
}
.keycounts span.snipes {
    float:none
}
.loader {
    width:20px;
    height:20px;
    border-radius:50%;
    position:relative;
    color:#fff;
    animation:loader 2s linear infinite;
    display:block;
    translate:-150px;
    margin:100px auto
}
@keyframes loader {
    00% {
        box-shadow:0 0 transparent,0 0 transparent,0 0 transparent,0 0 transparent
    }
    12% {
        box-shadow:100px 0 #33b5cc,0 0 transparent,0 0 transparent,0 0 transparent
    }
    25% {
        box-shadow:130px 0 #33b5cc,100px 0 #33b5cc,0 0 transparent,0 0 transparent
    }
    36% {
         box-shadow:160px 0 #33b5cc,130px 0 #33b5cc,100px 0 #33b5cc,0 0 transparent
    }
    50% {
         box-shadow:190px 0 #33b5cc,160px 0 #33b5cc,130px 0 #33b5cc,100px 0 #33b5cc
    }
    62% {
         box-shadow:240px 0 transparent,190px 0 #33b5cc,160px 0 #33b5cc,130px 0 #33b5cc
    }
    75% {
         box-shadow:240px 0 transparent,240px 0 transparent,190px 0 #33b5cc,160px 0 #33b5cc
    }
    87% {
         box-shadow:240px 0 transparent,240px 0 transparent,240px 0 transparent,190px 0 #33b5cc
    }
    100% {
         box-shadow:240px 0 transparent,240px 0 transparent,240px 0 transparent,240px 0 transparent
    }
   }
   